# Notes about Covid - Kelechi

X, Y, Z


Code below for X, Y, Z

In [2]:
import numpy as np
import pandas as pd 

pd.DataFrame(np.random.randn(3,3), columns=['X', 'Y', 'Z'])

          X         Y         Z
0 -3.981577  0.503718 -1.500712
1 -1.494610 -1.490845 -0.450405
2 -2.450557 -1.628724 -0.618247